.article {
  position: relative;
}
.custom-toc-container {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #f6f8f9;
  z-index: 2;
  cursor: pointer;
  border: 15px solid white;
}
.custom-toc-container:hover {
  background: #edf4ef;
}
/* .custom-toc-container:before {
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  background: white;
  content: "";
  top: 20px;
  left: -12px;
  z-index: 3;
  transform: translate(0, -50%) rotate(45deg);
  box-shadow: 0.5px -0.5px 1px 0 rgba(0, 0, 0, 0.12), 0.5px -0.5px 1.5px 0 rgba(0, 0, 0, 0.04);
} */
.custom-toc-container img {
  width: 18px;
  height: 18px;
  line-height: 36px;
  display: block;
  margin: 10px auto;
}
.custom-toc-container:hover .custom-toc {
  display: block;
}
.custom-toc {
  display: none;
  position: absolute;
  max-height: 400px;
  overflow-y: scroll;
  top: 0;
  right: 40px;
  background: white;
  padding: 15px 20px 15px 15px;
  border-radius: 3px;
  line-height: 2;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);
  border: 1px solid #eee;
}
.custom-toc li {
  cursor: pointer;
  min-width: 160px;
  max-width: 600px;
  white-space: nowrap;
}
.custom-toc .custom-toc--h3 {
  padding: 0 0 0 20px;
}
.custom-toc li a {
  transition: all 0.3s ease;
  color: #333;
}
.custom-toc li:hover a {
  color: #38b7ea;
}
.custom-toc--h2 {
  font-size: 13px;
}
.custom-toc--h3 {
  font-size: 12px;
}

